# T212 Client

Mock path tested in unit tests.
